.App {
  text-align: center;
  
}

.counter{
  background-color: #6e7582;
  overflow-x: hidden;
  color: #f39189;
  font-weight:bold;
  
}
.card{
  background-color: #6e7582 !important;
  border: none !important;

}

.card-body {
  FONT-WEIGHT: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  flex: 1 1 auto;
  font-size: 12rem;
  background-color: transparent;
  padding: 0%;
  margin: 0%;
  size: 0vmax;
}

.inc {
  background-color: #f39189 !important;
  border: none !important;
}
.dec{
  background-color: #bb8082 !important;
  border: none !important;
}


@media screen and (max-width: 900px) {
  .column1{
    width:60% !important;
  }
}

.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}